<div id="<%= dom_id schedule %>">
  <p>
    <strong>Event:</strong>
    <%= schedule.event %>
  </p>

   <p>
    <strong>Subscriber ID:</strong>
    <%= schedule.subscription_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= schedule.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= schedule.end_date %>
  </p>

 

</div>
