<% if current_user %>
  <% if notice.present? %>
    <p class="text-green-500"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between mb-4 mt-4">
    <h1 class="text-2xl font-semibold">Schedule</h1>

    <% if can? :create, @schedule %>
      <%= button_to new_schedule_path, method: :get, class: "btn btn-primary ml-4" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      <% end %>
    <% end %>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">Event</th>
          <th class="py-2 px-4">Subsriber ID</th>
          <th class="py-2 px-4">Start Date</th>
          <th class="py-2 px-4">End Date</th>
          <th class="py-2 px-4">Whodunnit</th>
          <th class="py-2 px-4">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @schedules.each do |schedule| %>
          <tr>
            <td class="py-2 px-4"><%= schedule.event %></td>
            <td class="py-2 px-4"><%= schedule.subscription_id %></td>
            <td class="py-2 px-4"><%= schedule.start_date %></td>
            <td class="py-2 px-4"><%= schedule.end_date %></td>
            <td class="py-2 px-4">     
              <% schedule.versions.each do |version| %>
                <%= User.find_by(id: version.whodunnit).email %>
              <%end%>
            </td>
            <td class="py-2 px-4">
              <%= button_to schedule, method: :get, class: "btn btn-secondary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
