<% if current_user %>
  <% if notice.present? %>
    <p class="text-green-500"><%= notice %></p>
  <% end %>

  <h1 class="text-2xl font-semibold mb-4 mt-4">Libraries</h1>

  <% if can? :create, @library %>
    <%= button_to "Create New Library", new_library_path, method: :get, class: "btn btn-primary mb-4" %>
  <% end %>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">Library</th>
          <th class="py-2 px-4">Whodunnit</th>
          <th class="py-2 px-4">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @libraries.each do |library| %>
          <tr>
            <td class="py-2 px-4"><%= library.library_name %></td>
            <td class="py-2 px-4">     
              <% library.versions.each do |version| %>
                <%= User.find_by(id: version.whodunnit).email %>
              <%end%>
            </td>
            <td class="py-2 px-4">
              <%= button_to "Show this library", library, method: :get, class: "btn btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
