<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700" %>
    <%= form.text_field :name, class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :short_name, class: "block text-gray-700" %>
    <%= form.text_field :short_name, class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
  </div>

  <% if @parent.present? %>
    <p class="mb-4">Path: <%= @parent.public_uid %></p>
    <%= form.hidden_field :parent_id, value: @parent.id %>
  <% end %>

  <div>
    <%= form.submit "Submit", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
