<p style="color: green"><%= notice %></p>

<h1>Section</h1>
<h4> <%= link_to "Create New Section", new_section_path %> </h4>

<%= form_tag sections_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>State</th>
        <th>Public UID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @sections.each do |section| %>
      <% if section.ancestry.nil? %>
        <tr>
          <td><%= section.name %></td>
          <td><%= section.short_name %></td>
          <td><%= section.state %></td>
          <td><%= section.public_uid %></td>
          <td>
            <%= link_to "Show this section", section %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>








