<% if current_user %>
  <% if notice.present? %>
    <p class="text-green-500"><%= notice %></p>
  <% end %>

  <h1 class="text-2xl font-semibold mb-4 mt-4">Section</h1>

  <% if can? :create, @section %>
    <%= button_to "Create New Section", new_section_path, method: :get, class: "btn btn-primary mb-4" %>
  <% end %>

  <%= form_tag sections_path, method: :get, class: "mb-4" do %>
    <div class="flex flex-wrap space-x-4">
      <%= text_field_tag :name_search, params[:name_search], placeholder: "Name", class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
      <%= text_field_tag :short_name_search, params[:short_name_search], placeholder: "Short Name", class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
      <%= select_tag :state_search, options_for_select(['activated', 'published', 'unpublished'], params[:state_search]), prompt: "Select State", class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4">Name</th>
          <th class="py-2 px-4">Short Name</th>
          <th class="py-2 px-4">State</th>
          <th class="py-2 px-4">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @sections.each do |section| %>
          <tr>
            <td class="py-2 px-4"><%= section.name %></td>
            <td class="py-2 px-4"><%= section.short_name %></td>
            <td class="py-2 px-4"><%= section.state %></td>
            <td class="py-2 px-4">
              <%= button_to "Show this section", section, method: :get, class: "btn btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
