<p style="color: green"><%= notice %></p>

<h1>Section</h1>
<% if current_user %>
<% if can? :create, @section %>
<%= button_to "Create New Section", new_section_path, method: :get, class: "btn btn-primary", style: "margin-bottom: 10px;" %>
<% end %>
<%= form_tag sections_path, :method => :get do %>
  <p>
    <%= text_field_tag :name_search, params[:name_search], placeholder: "Name" %>
    <%= text_field_tag :short_name_search, params[:short_name_search], placeholder: "Short Name" %>
    <%= select_tag :state_search, options_for_select(['activated', 'published', 'unpublished'], params[:state_search]), prompt: "Select State" %>
    <%= submit_tag "Search", :name => nil, :short_name => nil, :state => nil, class: "btn btn-primary" %>
  </p>
<% end %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.name %></td>
          <td><%= section.short_name %></td>
          <td><%= section.state %></td>
          <td>
            <%= button_to "Show this section", section, method: :get, class: "btn btn-secondary" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>







