<div class="p-1">
  <p class="text-green-500"><%= notice %></p>

    <div class="flex justify-between items-center mb-4">
    <div class="btn-group" role="group">
      <% if can? [:update, :create, :delete], @section %>
        <%= link_to edit_section_path(@section), class: "btn btn-success mr-2" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
          </svg>
        <% end %>

        <%= link_to new_section_path(parent_id: @section.public_uid), class: "btn btn-success mr-2" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>

        <%= button_to @section, method: :delete, class: "btn btn-danger mr-2", data: { confirm: 'Are you sure?' } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        <% end %>
      <% end %>
    </div>

    <%= link_to sections_path, class: "btn btn-secondary" do %>
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>
    <% end %>
  </div>

  <%= render @section %>

  <% if @section.children.present? %>
    <h5 class="mb-2">Children</h5>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="py-2 px-4">Name</th>
            <th class="py-2 px-4">Short Name</th>
            <th class="py-2 px-4">Action</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @section.children.each do |child| %>
            <tr>
              <td class="py-2 px-4"><%= child.name %></td>
              <td class="py-2 px-4"><%= child.short_name %></td>
              <td class="py-2 px-4">
                <%= link_to child, class: "btn btn-secondary" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>


  <%= form_with(model: @section) do |form| %>
    <div class="field">
      <%= form.collection_select :library_ids, Library.all, :id, :library_name, { multiple: true, include_blank: 'Select Libraries' }, class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
    </div>
    
    <div class="actions">
      <%= form.submit 'Assign Libraries' %>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @section.libraries.each do |library| %>
        <tr>
          <td><%= library.library_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
