<p style="color: green"><%= notice %></p>

<%= render @section %>

  <%
=begin%>
 <% if can? :show, @section %>
    <h4>test</h4>
  <% end %> 
<%
=end%>

<div class="btn-group" role="group">
  <%= link_to edit_section_path(@section), class: "btn btn-success", style: "margin-right: 5px;" do %>
    <i class="bi bi-pencil"></i> Edit this section
  <% end %>

  <%= link_to new_section_path(parent_id: @section.public_uid), class: "btn btn-success", style: "margin-right: 5px;" do %>
    <i class="bi bi-plus"></i> Create New Children
  <% end %>

  <%= button_to @section, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }, style: "margin-right: 5px;" do %>
    <i class="bi bi-trash"></i> Destroy this section
  <% end %>

  <%= link_to sections_path, class: "btn btn-secondary", style: "margin-right: 5px;" do %>
    <i class="bi bi-arrow-left"></i> Back to sections
  <% end %>
</div>



  <% if @section.children.present? %>
  <h5>Children</h5>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @section.children.each do |child| %>
        <tr>
          <td><%= child.name %></td>
          <td><%= child.short_name %></td>
          <td>
            <%= link_to "Show this section", child, class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

</div>
  
</div>
