<%= form_with(model: subscription) do |form| %>
  <% if subscription.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.collection_select :user_id, User.order(:email), :id, :email, { include_blank: 'Select User' }, class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
  </div>

   <div class="mb-4">
    <%= form.collection_select :app_id, App.order(:app_name), :id, :app_name, { include_blank: 'Select App' }, class: "border rounded py-2 px-3 focus:outline-none focus:shadow-outline" %>
  </div>


  <div>
    <%= form.submit "Submit", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
