<!DOCTYPE html>
<html>
  <head>
    <title>Railscrud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
   
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>

    <div id="main-content" class="container-fluid" style="<%= @main_content_style %>">
      <div style="margin-left: 6rem; margin-right: 6rem;">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>

<script>
  const sidebar = document.getElementById('sidebar');
  const sidebarToggle = document.getElementById('sidebar-toggle');
  const sidebarContent = document.getElementById('sidebar-content');
  const mainContent = document.getElementById('main-content');

  sidebarToggle.addEventListener('click', () => {
    sidebar.classList.toggle('-translate-x-full');
    sidebarContent.classList.toggle('ml-40');

    const isSidebarHidden = sidebar.classList.contains('-translate-x-full');
    
    const mainContentStyle = isSidebarHidden ? '' : 'margin-left: 10rem;'; 
    
    mainContent.setAttribute('style', mainContentStyle);
  });
</script>